/*--------------------------Estilo general--------------------------*/

/*Color general del html*/
html {
  color: F3EFE0;
  background-color: #222222;
  font-size: 16px;
}

/*Margen del cuerpo en la página*/
body {
  margin: 0;
}

/*--------------------------Estilo cabecera del body--------------------------*/

header {
  margin: 0;
  background-color: 222222;
  font-family: Arial, Verdana, sans-serif;
}

/*--------------------------Posicionamiento cabecera del body--------------------------*/

/*Posicionamiento cabecera*/
.cabecera {
  display: flex;
  flex-direction: column;
}
.cabecera h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Posicionamiento listas*/
.navegacion-lista {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

/*Ancho listas del nav*/
.navegacion-lista li {
  width: 15%;
  border-radius: 5px;
  text-align: center;
  background-color: 434242;
}

/*Posicionamiento inicios de sesion*/
.sesiones {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 0;
  top: 0;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.6875rem;
  width: 25%;
}

/*Ancho del nav*/
.navegacion {
  width: 100%;
}

/*--------------------------Estilo cabecera del body--------------------------*/

/*Estilo links*/
a {
  text-decoration: none;
  color: F3EFE0;
  background-color: #434242;
}

/*Estilo inicios de sesion*/
.sesiones a {
  padding: 2px;
  border: 0.5px solid #22a39f;
  border-radius: 8px;
  margin-left: 4%;
}

/*Estilo listas*/
ul {
  padding: 0;
  list-style-type: none;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.9375rem;
}

/*Estilo bordes de las listas del nav*/
.cabecera li {
  border: 1px solid #22a39f;
}

/*--------------------------Posicionamiento contenido del body--------------------------*/

/*Posicionamiento listas, padding interno*/
.lista li {
  padding-bottom: 5px;
}

/*-----Posicionamiento de la sección pecho-----*/
.pecho {
  display: flex;
  flex-direction: column;
}

/*Posicionamiento del titulo pecho*/
.titulo-pecho {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Posicionamiento del contenido pecho*/
.pecho-contenido {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

/*Posicionamiento de la lista pecho*/
.pecho-contenido ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----Posicionamiento de la sección espalda-----*/
.espalda {
  display: flex;
  flex-direction: column;
}

/*Posicionamiento del titulo espalda*/
.titulo-espalda {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Posicionamiento del contenido espalda*/
.espalda-contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*Posicionamiento de la lista espalda*/
.espalda-contenido ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----Posicionamiento de la sección pierna-----*/
.pierna {
  display: flex;
  flex-direction: column;
}

/*Posicionamiento del titulo pierna*/
.titulo-pierna {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Posicionamiento del contenido pierna*/
.pierna-contenido {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

/*Posicionamiento de la lista pierna*/
.pierna-contenido ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----Posicionamiento de la sección hombro-----*/
.hombro {
  display: flex;
  flex-direction: column;
}

/*Posicionamiento del titulo hombro*/
.titulo-hombro {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Posicionamiento del contenido hombro*/
.hombro-contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*Posicionamiento de la lista hombro*/
.hombro-contenido ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----Posicionamiento de la sección biceps-----*/
.biceps {
  display: flex;
  flex-direction: column;
}

/*Posicionamiento del titulo biceps*/
.titulo-biceps {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Posicionamiento del contenido biceps*/
.biceps-contenido {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

/*Posicionamiento de la lista biceps*/
.biceps-contenido ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-----Posicionamiento de la sección triceps-----*/
.triceps {
  display: flex;
  flex-direction: column;
}

/*Posicionamiento del titulo triceps*/
.titulo-triceps {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Posicionamiento del contenido triceps*/
.triceps-contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*Posicionamiento de la lista triceps*/
.triceps-contenido ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---Separacion entre los section del body---*/
.pecho {
  margin-top: 0%;
}

.espalda {
  margin-top: 3%;
}

.espalda {
  margin-top: 3%;
}

.pierna {
  margin-top: 3%;
}

.hombro {
  margin-top: 3%;
}

.biceps {
  margin-top: 3%;
}

.triceps {
  margin-top: 3%;
}

/*--------------------------Estilo contenido del body--------------------------*/

/*Estilo imagenes*/
img {
  width: 160px;
  height: 150px;
  border-radius: 10px;
}

/*Color del fondo del body*/
.contenido {
  background-color: #222222;
}

/*Estilo de todas las listas del body fuera del nav*/
.lista {
  width: 160px;
  height: 150px;
  font-size: 0.875rem;
  font-family: Arial, Verdana, sans-serif;
  background-color: #222222;
  border: 1px solid #22a39f;
  border-radius: 40px;
  padding: 0;
  list-style-position: inside;
}

/*Estilo de los section del body*/
.contenido section {
  border: 1px solid #22a39f;
  background-color: 434242;
}

/*--------------------------Posicionamiento contenido del footer--------------------------*/

/*Posicionamiento del footer*/
.pie-pag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 3%;
}

/*Posicionamiento de la lista del footer*/
.pie-pag ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/*--------------------------Estilo contenido del footer--------------------------*/

/*Estilo del footer*/
.pie-pag {
  background-color: #222222;
  list-style-type: none;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.75rem;
}

/*Estilo de la lista del footer*/
.pie-pag li {
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.75rem;
}

/*Estilo enlace footer en el index-registro*/
.pie-pag a {
  background-color: #222222;
}

/*--------------------------Estilo adicional log-in--------------------------*/

/*Posicionamiento de los elementos de log, sing y gracias, dentro del body*/
.contenido-body-log-sing {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Posicionamiento de la cabecera para el log, sing y gracias; Estilo borde*/
.cabecera-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #434242;
  border-bottom: 1px solid #22a39f;
}

/*Posicionamiento del form del log, sing y gracias; Estilo de la letra*/
.contenido-log-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.9375rem;
}

/*Posicionamiento del titulo de log, sing y gracias*/
.contenido-log-up h3 {
  padding: auto;
  margin: 4%;
  margin-bottom: 2%;
}

/*Posicionamiento y estilos de los imputs de log, sing y gracias*/
.contenido-log-up input {
  margin: 4%;
  margin-top: 2%;
  width: 50%;
  height: 30px;
  background-color: #222222;
  border: 1px solid #22a39f;
  color: F3EFE0;
}

/*Posicionamiento y estilos de los botones de log, sing y gracias*/
.contenido-log-up button {
  width: 30%;
  height: 35px;
  margin: 4%;
  font-family: Arial, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #434242;
  border: 1px solid #22a39f;
  border-radius: 15px;
  color: F3EFE0;
}

/*Posicionamiento y estilos del footer del log, sing y gracias*/
.pie-pag-log-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 2%;
  padding-right: 3%;
  background-color: #434242;
  list-style-type: none;
  font-family: Arial, Verdana, sans-serif;
  font-size: 0.85rem;
  border-top: 1px solid #22a39f;
}

/*Posicionamiento de la lista del footer del log, sing y gracias*/
.pie-pag-log-up ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 12px;
}

/*Posicionamiento del icono registro*/
.icono {
  position: absolute;
  right: 2%;
  top: 1.5%;
  border: 2px solid #22a39f;
  border-radius: 100%;
  padding: 0.5%;
}

/*Tamaño del icono registro*/
.icono img {
  width: 15px;
  height: 15px;
}

/*--------------------------Medias--------------------------*/

@media (min-width: 960px) {
  /*Posicionamiento de elementos de la página*/
  .body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /*Posicionamiento del contenido de la página*/
  .contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /*---Posicionamiento de cada contenido de dos en dos en paralelo---*/
  .pecho-espalda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .pierna-hombro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .biceps-triceps {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /*Ajustes posicionamiento contenido*/
  .pecho {
    margin-top: 3%;
  }

  .biceps {
    margin-bottom: 3%;
  }

  .triceps {
    margin-bottom: 3%;
  }

  /*Estilo cabecera*/
  .cabecera {
    border-bottom: 1px solid #22a39f;
    background-color: 434242;
  }

  /*Estilo footer*/
  .pie-pag {
    border-top: 1px solid #22a39f;
    background-color: 434242;
  }

  /*Estilo de la lista en en la header*/
  .navegacion-lista li {
    background-color: #222222;
  }

  /*Estilo enlaces*/
  a {
    background-color: #222222;
  }

  /*Ajustes tamaño de los section del contenido*/
  .contenido section {
    width: 45%;
    height: auto;
  }

  /*Ajustes tamaño de las imagenes del contenido*/
  .contenido img {
    width: 40%;
    height: 20%;
    margin-bottom: 5%;
  }

  /*Ajuste tamaño lista*/
  .lista {
    margin: 0;
    width: 40%;
    height: 16.8vw;
    margin-bottom: 5%;
  }

  /*Ajuste tamaño button*/
  .contenido-log-up button {
    width: 30%;
    height: 60px;
    max-width: 600px;
  }

  /*Ajuste tamaño imput*/
  .contenido-log-up input {
    width: 50%;
    height: 60px;
    max-width: 1000px;
  }

  /*Ajuste tamaño icono*/
  .icono img {
    width: 25px;
    height: 25px;
  }

  /*Estilo enlace footer en el index-registro*/
  .pie-pag a {
    background-color: #434242;
  }

  .sesiones {
    font-size: 1rem;
  }
}

/*Aumento de tamaño de la fuente*/
@media (min-width: 1920px) {
  html {
    font-size: 35px;
  }

  /*Ajuste tamaño icono*/
  .icono img {
    width: 35px;
    height: 35px;
  }
}
